<div class="container py-5">
    <div class="jumbotron text-white jumbotron-image shadow" style="background-image: url'/img/background2.jpg');">
      <h2 class="mb-4">
        Notes Application
      </h2>
      <p class="mb-4">
        This is a tool that helps visualize and manage work
      </p>
      <a href="https://www.eliteworldhotels.com.tr/blog-en/8-benefits-of-taking-notes-while-working.2291.aspx" class="btn btn-primary">BLOG</a>
    </div>
  </div>
